
@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

@-ms-viewport {
		width: device-width;
	}
	
	html {
		height: 100%;
	}

	body {
		background: #fff;
		height: 100%;
		font-family: FontAwesome, 'Source Sans Pro', sans-serif;
		font-weight: 300;
		font-size: 18pt;
		line-height: 1.75em;
		color: #39454b;
		letter-spacing: 0.5px;
	}

	body, input, select, textarea {
		color: _palette(fg);
		font-family: _font(family);
		font-size: 15pt;
		font-weight: _font(weight);
		line-height: 1.75em;
	}
.container-fluid {
	text-align:center;
	width:auto;

}
.container-fluid button{
	margin:auto;

}

a {
	color: _palette(accent1);
	text-decoration: none;

	&:hover {
		color: _palette(accent1) !important;
		border-bottom-color: transparent;
	}
}

h1,h2,h3{
  margin: 0;
}

.belt{
  padding: 5px 10;
  border-radius: 10px;
  margin-left: 5px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

#menu-bar{
  background:  #39454b;
  color: #fff;
  padding: 10px;
}

#menu-bar h1{
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
}

#menu-bar ul{
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 6px 0;
}

#menu-bar li{
  float: right;
  margin-left: 20px;
}

#menu-bar a{
  color: #fff
}

main{
  background: #eee;
  width: 80%;
  margin: 30px auto;
  border-radius: 10px;
}

.content{
  padding: 20px;
}

.content button,
.content input[type="submit"]{
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #777;
  border: 0;
  box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
  font-size: 16px;
}

.content button:nth-child(2){
  float: right;
}

.content ul{
  padding: 0;
  list-style-type: none;
  margin: 30px 0;
}

.content li{
  padding: 15px 0;
  border-top: 1px solid #e2e2e2;
  color: #444;
}

.content li span{
  float: right;
}

.content li h3{
  display: inline-block;
  font-weight: normal;
  font-size: 22px;
}

.content input{
  width: 90%;
  padding: 10px 5%;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin: 10px 0;
}

.content input[type="submit"]:last-child{
  width: 150px;
  display: block;
  margin: 15px auto;
}

.remove{
  float: right;
  padding: 5px;
  background: #fff;
  width: 18px;
  text-align: center;
  border-radius: 20px;
  color: crimson;
  cursor: pointer;
  margin-left: 10px;
}
.details {
	margin-top:10px;
	display:flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	label {
		width:400px;
		text-align:center;
	}
}
.userInput {
	padding-top:10px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	input {
		margin-bottom:10px;
		width:40px;
		text-align:center;
	}
}
.container-fluid {
	button {
		width:100px;
	}
}

/* Icons */

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.icon > .label {
			display: none;
		}

/* Footer */

	#footer {
		position: fixed;
		height: 5em;
		line-height: 5em;
		margin: 0;
		bottom: 0;
		background: #39454b;
		color: #999;
		color: rgba(185, 186, 187, 0.5);
		overflow: hidden;
		width:100%;
		text-align:center;
	}

		#footer a {
			color: #999;
			color: rgba(185, 186, 187, 0.5);
		}

			#footer a:hover {
				color: #bbb;
				color: #b9babb;
			}

		#footer .actions {
			position: relative;
			left: 1em;
			top: 0.25em;
			height: 5em;
			line-height: 5em;
			margin: 0;
		}

			#footer .actions li {
				font-size: 1.25em;
				margin: 0;
			}

				#footer .actions li a {
					padding: 0.5em;
				}

		#footer .menu {
			position: absolute;
			right: 2em;
			top: 0;
			height: 5em;
			line-height: 5em;
			margin: 0;
		}

			#footer .menu li {
				font-size: 0.9em;
			}

	#social {
		width:50%;
	}