<canvas id="base" class="chart-base" chart-type="type"
  chart-data="data" chart-labels="labels" >
</canvas>

<div class="userInput" ng-repeat="y in data track by $index">

	<input type="textbox" ng-repeat="x in y track by $index" ng-model="x" style="border:1px solid  {{myChartColors[$parent.$index]}}">
</div>

<div class="container-fluid">
	<button type="button" class="btn btn-primary" ng-click="toggle()">Toggle</button>
	<button type="button" class="btn btn-primary" ng-click="randomize()">Randomize</button>
</div>