
	<div class="row" id="titleRow">
	  <h1 class="sentence title">my nggraph</h1>
	  <h3 class="sentence subtitle">Jose DeLavalle</h3>
	  <!-- <div class="button" id="myBtn">Click to Animate</div> -->
	  <div class="container-fluid">  		       
	  	<button type="button" class="btn btn-primary" ng-click="randomize()">Randomize</button>
	  	<button type="button" class="btn btn-primary" ng-click="goAPI()">Population</button>
	  	
	  
	  <h2 ng-bind="title"></h2>
	  <div ng-if="showCountry">
		<select id="listCountries">
		       <option ng-repeat="thisCountry in country.countries" value="{{thisCountry}}">
		           {{thisCountry}}
		       </option>
		    </select>
		    <button type="button" class="btn btn-primary" ng-click="countrySelected()">Add</button>
	  </div>
	</div>
	</div>
	<div ng-cloak>
	  <md-content>
	    <md-tabs md-dynamic-height md-border-bottom>
	      <md-tab label="Bar">
	        <md-content class="md-padding">
	          
		          <canvas id="bar" class="chart chart-bar"
		            chart-data="data" chart-labels="labels"> chart-series="series">
		          </canvas>
	        </md-content>
	      </md-tab>

	      <md-tab label="Line">
	        <md-content class="md-padding">
	          
	          <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
	        </md-content>
	      </md-tab>

	      <md-tab label="Pie">
	        <md-content class="md-padding">
	          
	          <canvas id="pie" class="chart chart-pie"
	            chart-data="data" chart-labels="labels" chart-options="options">
	          </canvas>
	        </md-content>
	      </md-tab>

		  <md-tab label="Donut">
		    <md-content class="md-padding">
		      
		      <canvas id="doughnut" class="chart chart-doughnut"
		      	  chart-data="data" chart-labels="labels">
		      </canvas>
		    </md-content>
		  </md-tab>
	      
	      <md-tab label="Radar">
	        <md-content class="md-padding">
	          
	          <canvas id="radar" class="chart chart-radar"
	            chart-data="data" chart-options="options" chart-labels="labels">
	          </canvas>
	        </md-content>
	      </md-tab>
	      
	      
	     
	    </md-tabs>
	  </md-content>
	</div>
	<div ng-if="showInput" ng-include="'partials/input.html'"></div>
